form{
    background-color: darkseagreen;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 10px 8px 4px beige;
    border-radius: 20px;
}

legend{
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    color: orangered;
    text-shadow: 4px 4px 12px red;
}

input[type=text],input[type=date],input[type=file],input[type=password],input[type=email],select{
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 4px 4px 10px gray;
    padding-left: 10px;
}

button {
    background-color: darkcyan;
    width: 20%;
    height: 40px;
    border-radius: 12px;
}

